[submodule "lib/forge-std"] 
  	path = lib/forge-std
  	url = git://foundry-rs/forge-std/
[submodule "lib/foundry-devops"] 
  	path = lib/foundry-devops 
  	url = git://Cyfrin/foundry-devops/
[submodule "lib/chainlink-brownie-contracts"] 
 	path = lib/chainlink-brownie-contracts
  	url = git://smartcontractkit/chainlink-brownie-contracts/




